.homepage-card{
    width: 100%;
    max-width: 800px;
    margin: auto;
    margin-top: 40px;
    background-color: white;
    padding-bottom: 40px;
}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.login{
    display: block;
    padding: 10px 0px 10px 0px;
    background-color: #d44242;
    border: 2px solid white;
    color: white;
    border-radius: 20px;
    margin: auto;
    cursor: pointer;
    font-family: 'Viga', sans-serif;
    width: 30%;
    text-align: center;
    font-size: 30px;
}

.message{
    font-family: 'Viga', sans-serif;
    width: 100%;
    color: #d44242;
    padding: 20px 0px 20px 0px;
    background-color: white;
    text-align: center;
    font-size: 40px;
}


