<h1 class="card-title">About Us</h1>
<div class="about-container">
  <img class="about-image" src="assets/download.jpg">
  <p>Since 2009, Bob&rsquo;s Computer Repair Shop has established itself as an indispensable computer repair service in
    Bellevue, Nebraska. We offer our customers a variety of quality repairs at always affordable prices. Our love for
    fixing what is broken has earned our community&rsquo;s trust, and our spotless results have allowed us to retain
    it.</p>
  <p><strong>Our shop is open:</strong></p>
  <p style="padding-left: 30px;">Monday &ndash; Friday 7:30am &ndash; 10:30pm</p>
  <p style="padding-left: 30px;">Saturday 8am - 5pm</p>
  <p style="padding-left: 30px;">Sunday 10am-7pm</p>
  <p>Whether your personal laptop just given up the ghost or your tablet is overflowing with malware, Bob&rsquo;s
    Computer Repair Shop can assist. Allow us to be your first choice for the professional repair your computer,
    laptop,
    or mobile device needs. We always estimate the parts and labor costs up front. You will not need to worry about
    hidden fees while we complete the necessary repairs.</p>
  <p><strong>Devices we service: </strong></p>
  <p>We service personal computers from all major companies including Asus, Dell, HP, and Toshiba. We will precisely
    identify system problems, software maintenance, hardware troubleshooting, and other repairs your device may
    require.</p>
  <p><strong>Broken Screens on Laptops, Netbooks and All In One Screen computers:</strong></p>
  <p>We can estimate and replace broken screens on any laptop manufactured by Asus, Dell, HP, Sony, Toshiba, and
    others.&nbsp; If you are unsure what manufacturer your device&rsquo;s screen originated from, simply bring it in
    for
    an assessment by one of our knowledgeable technicians.</p>
  <p><strong>We Specialize In:</strong></p>
  <ul>
    <li>Virus Detection</li>
    <li>System Recovery</li>
    <li>Custom Built Personal Computers</li>
    <li>New System Setup</li>
    <li>Data Back-Up</li>
    <li>Security and Performance Upgrades/Reinforcement</li>
    <li>Hardware/Software Upgrades and Maintenance</li>
  </ul>
  <p>With technology continually advancing, you need a local, reliable computer service and repair partner you can
    trust.</p>
  <p>Why wait?</p>
  <p>Call or come visit Bob&rsquo;s Computer Repair Shop today!</p>
  <p>(407) 557-9247</p>
</div>