<div *ngIf="!stepTwo && !stepThree" class="reset-card">
  <h1 class="card-title">Reset Password</h1>
  <div class="questions-container">
    <div class="question">
      <mat-form-field class="answer-field">
        <input matInput placeholder="Username" [(ngModel)]="username">
      </mat-form-field>
    </div>
    <div class="next-button">
      <button (click)="toStepTwo()" class="next">
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
  </div>

</div>

<div *ngIf="stepTwo" class="reset-card">
  <h1 class="card-title">Reset Password</h1>
  <div class="questions-container">
    <div class="question">
      <mat-form-field class="question">
        <mat-label>Security Question 1</mat-label>
        <mat-select [(ngModel)]="selectedQuestions[0]['q']">
          <mat-option *ngFor='let question of questions' [value]="question.question">{{question.question}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="answer-field">
        <input matInput placeholder="Answer" [(ngModel)]="selectedQuestions[0]['a']">
      </mat-form-field>
    </div>
    <div class="question">
      <mat-form-field class="question">
        <mat-label>Security Question 2</mat-label>
        <mat-select [(ngModel)]="selectedQuestions[1]['q']">
          <mat-option *ngFor='let question of questions' [value]="question.question">{{question.question}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="answer-field">
        <input matInput placeholder="Answer" [(ngModel)]="selectedQuestions[1]['a']">
      </mat-form-field>
    </div>
    <div class="question">
      <mat-form-field class="question">
        <mat-label>Security Question 3</mat-label>
        <mat-select [(ngModel)]="selectedQuestions[2]['q']">
          <mat-option *ngFor='let question of questions' [value]="question.question">{{question.question}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="answer-field">
        <input matInput placeholder="Answer" [(ngModel)]="selectedQuestions[2]['a']">
      </mat-form-field>
    </div>
    <div class="next-button">
      <button (click)="checkQuestions()" class="next">
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
  </div>

</div>

<div *ngIf="stepThree" class="reset-card">
  <h1 class="card-title">Reset Password</h1>
  <div class="questions-container">
    <div class="question">
      <mat-form-field class="answer-field">
        <input type="password" matInput placeholder="New Password" [(ngModel)]="password">
      </mat-form-field>
      <mat-form-field class="answer-field">
        <input type="password" matInput placeholder="Confirm Password" [(ngModel)]="passwordConfirm">
      </mat-form-field>
    </div>
    <div class="next-button">
      <button (click)="submit()" class="next">
        Reset Password
      </button>
    </div>
  </div>

</div>