.reset-card{
    width: 100%;
    max-width: 800px;
    margin: auto;
    margin-top: 40px;
    background-color: rgb(247, 247, 247);
    padding-bottom: 40px;
}
.card-title{
    font-family: 'Viga', sans-serif;
    width: 100%;
    color: white;
    padding: 20px 0px 20px 0px;
    background-color: #d44242;
    text-align: center;
    font-size: 25px;
}
.next-button{
    margin-top: 50px;
}
.next{
    display: block;
    padding: 10px 0px 10px 0px;
    background-color: rgb(247, 247, 247);
    border: 2px solid #d44242;
    color: #d44242;
    border-radius: 20px;
    width: 30%;
    margin: auto;
    cursor: pointer;
}
.questions-container{
    width: 60%;
    margin: auto;
}
.question-title{
    font-family: 'Roboto', sans-serif;
    border: 2px solid rgb(132, 132, 133);
    color: rgb(132, 132, 133);
    padding: 10px 10px 10px 30px;
    border-radius: 20px;
    
    margin-bottom: 10px;
}
.answer-field{
    width: 80%;
    display: block;
    margin: auto;
    padding: 10px 0px 10px 0px;
}
