<div class="reset-card">
  <h1 class="card-title">Reset Password</h1>
  <div class="questions-container">
    <div class="question">
      <div class="question-title">{{questions[0]}}</div>
      <mat-form-field class="answer-field">
        <input matInput placeholder="Answer" [(ngModel)]="answers[0]">
      </mat-form-field>
    </div>
    <div class="question">
      <div class="question-title">{{questions[1]}}</div>
      <mat-form-field class="answer-field">
        <input matInput placeholder="Answer" [(ngModel)]="answers[1]">
      </mat-form-field>
    </div>
    <div class="question">
      <div class="question-title">{{questions[2]}}</div>
      <mat-form-field class="answer-field">
        <input matInput placeholder="Answer" [(ngModel)]="answers[2]">
      </mat-form-field>
    </div>
    <div class="next-button">
      <button (click)="login()" class="next">
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
  </div>

</div>