<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<div class="user-container">
  <mat-accordion multi="false">
    <mat-expansion-panel *ngFor="let user of users; let i = index" class="user-table" hideToggle="true" (opened)="panelOpenState = true"
      (closed)="panelOpenState = false">
      <mat-expansion-panel-header class="user-header" fxLayout="row">
        <div class="label" fxFlex="20%">
          {{user.username}}

        </div>
        <div class="label" fxFlex="8%">
          {{user.role}}
        </div>
        <div class="center" fxFlex="25%">
          {{dateClean(user.dateCreated)}}
        </div>
        <div class="center" fxFlex="25%">
          <i>{{dateClean(user.dateUpdated)}}</i>
        </div>
        <div class="center" fxFlex="17%">
          {{user.fName + " " + user.lName}}
        </div>
      </mat-expansion-panel-header>
      <div class="edit-box">
        <div>

          <mat-form-field class="edit-field name">
            <input matInput placeholder="First Name" [(ngModel)]="users[i].fName">
          </mat-form-field>

          <mat-form-field class="edit-field name">
            <input matInput placeholder="Last Name" [(ngModel)]="users[i].lName">
          </mat-form-field>

        </div>
        <div>

          <mat-form-field class="edit-field">
            <input matInput placeholder="Username" disabled [(ngModel)]="users[i].username">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Role</mat-label>
            <mat-select [(ngModel)]="users[i].role">
              <mat-option value="admin">Admin</mat-option>
              <mat-option value="user">Normal User</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>

          <mat-form-field class="edit-field">
            <input matInput placeholder="Phone" [(ngModel)]="users[i].phone">
          </mat-form-field>

          <mat-form-field class="edit-field">
            <input matInput placeholder="Address" [(ngModel)]="users[i].address">
          </mat-form-field>

        </div>

        <div>
          <mat-form-field class="edit-field">
            <input matInput placeholder="Email" [(ngModel)]="users[i].email">
          </mat-form-field>
        </div>

        <div class="buttons">
          <button (click)="delete(user.id)" class="delete">Delete</button>
          <button (click)="update(user.id)" class="update">Update</button>
        </div>
      </div>


    </mat-expansion-panel>
  </mat-accordion>




  <div *ngIf="sub">hello</div>
</div>